@media screen and (min-width: 1200px) {

.btn {
    transform: scale(1);
    /*transition-property: transform;
    transition-duration: 400ms;*/
    transition: transform 1000ms;
    transition-timing-function: cubic-bezier(0.45,-0.3, 0, 3.13);
}

.btn-page {
    transform: scale(1);
    /*transition-property: transform;
    transition-duration: 400ms;*/
    transition: transform 1000ms;
    transition-timing-function: cubic-bezier(0.45,-0.3, 0, 3.13);
}

.btn-page:hover {
    transform: scale(1.3);
    background-color: rgb(92, 94, 255);
    color: black;
    transition-delay: 150ms;
}

.btn-send:hover {
    transform: scale(1.3);
    background-color: rgb(81, 245, 5);
    color: black;
    transition-delay: 150ms;
}

.btn-load:hover {
    transform: scale(1.3);
    background-color: rgb(240, 119, 71);
    color: black;
    transition-delay: 150ms;
}

.btn-load:after {
    content: " ↴";
}

.form-group input:focus {
    border: 2px solid blue;
}

.form-group input:not(:focus):invalid {
    background: red;
    border: 2px solid rgb(134, 6, 6);
    color: rgb(134, 6, 6);
    animation: headshake 100ms linear;
    animation-iteration-count: 10;
}

#btn-send:hover + #imageLettre {
    transform: translateX(700px);
    transition: transform 1s;
    transition-timing-function: ease-in-out;
}

.imageIcon:hover {
    transition: transform 2s;
    transform: rotate(360deg);
    transition-timing-function: linear;
}

ul li:hover{
    background-color: rgb(6, 8, 173);
    border-radius: 100em;
}

.imageMenu {
    display: none;
}
}

@media screen and (max-width: 1200px) {
    ul li.menu {
        display: none;
    }
}

.progress-bar {
    transform: scaleX(0);
    transform-origin: 0% 50%;
}

.btn-load:active + .progress > .progress-bar {
    transform: scaleX(1);
    transition: transform 2000ms;
}

.btn-load:after {
    content: " ↴";
}

.progress > .progress-bar {
    animation-name: progress-bar;
    animation-duration: 5000ms;
}

#imageProfil {
    animation-name: showElement;
    animation-duration: 2000ms;
    animation-delay: 5s;
    animation-fill-mode: both;
}

.progress {
    animation-name: hideElement;
    animation-duration: 20000ms;
    animation-delay: 5s;
    animation-fill-mode: forwards;
}

@keyframes headshake {
    25% {
        transform: translateX(2%);
    }
    75% {
        transform: translateX(2% * -1);
    }
}

@keyframes hideElement{
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes showElement{
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes progress-bar {
    0% {
        transform: scaleX(0);
        opacity: .3;
    }
    10% {
        transform: scaleX(.10);;
        opacity: .6;
    }
    20% {
        transform: scaleX(.20);
        opacity: 1;
    }
    30% {
        transform: scaleX(.30);
        opacity: .2;
    }
    40% {
        transform: scaleX(0.4);
        opacity: .4;
    }
    50% {
        transform: scaleX(0.5);
        opacity: .8;
    }
    60%{
        transform: scaleX(.6);
        opacity: 1;
    }
    70% {
        transform: scaleX(.70);
        opacity: .2;
    }
    80% {
        transform: scaleX(.80);
        opacity: .4;
    }
    90% {
        transform: scaleX(.90);
        opacity: .8;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
        display: none;
    }
}

